{%load static%}
<link rel="stylesheet" href="{% static 'css/cards.css'%}">
<div class="container" id ="cards">
    <div class="box">
      <span></span>
      <div class="content">
        <h2>Web Development</h2>
        <p>Unlock your online potential with our expert web development service. Let us build your digital success story.</p>
        <a href="#ic">Read More</a>
      </div>
    </div>
    <div class="box">
      <span></span>
      <div class="content">
        <h2>SME Globalizer</h2>
        <p>Reach a worldwide audience and accelerate your company's growth with our comprehensive global promotion strategies.</p>
        <a href="#ic" >Read More</a>
      </div>
    </div>
    <div class="box">
      <span></span>
      <div class="content">
        <h2>Artificial Intelligence</h2>
        <p>Experience the future of technology through our tailored AI solutions.</p>
        <a href="#ic">Read More</a>
      </div>
    </div>
    
  </div>  
